{% extends "app/layout.html" %}

{% block content %}

<h2>Olá somos a Empresa Carinha do TI,</h2>
<h3>Fundada no ano 2000 pelo CEO Fabricio Batista, somos número 1 no ranking de exelência na área de serviços e suporte de ti.
  Inicialmente com 20 funcionários, hoje contamos com mais de 2 mil funcionarios em mas de 15 cidades do Brasil.
Oferecemos as melhores soluções de gerenciamento e serviços para que a sua empresa supere os desafios da tecnologia e foque nos negócios.</h3>

<p>Esta aplicação gerencia vestibulares.</p>

{% endblock %}
