{% extends "app/layout.html" %}

{% block content %}

<h2>Contato</h2>
<h3>Envie-nos sua critica, sugestão ou reclamação.</h3>

<address>
    Onde Estamos:<br />
    Rua Sem Fim, 666 <br />
    <abbr title="Telefone">Tel: </abbr>
    97070-7070
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">SuporteCarinhaTi@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingCarinhaTi@example.com</a>
</address>

{% endblock %}
